@use "variables";

.contacto-seccion {
    padding: 60px 0;
    background-color: variables.$crema;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.contacto-contenedor {
    display: flex;
    gap: 40px;
    background: variables.$blanco;
    padding: 40px;
    border: 4px solid variables.$oscuro;
    border-radius: 30px;
    box-shadow: 10px 10px 0px variables.$miel;
    width: 100%;
    max-width: 1500px;
    @media (max-width: 768px) { flex-direction: column; }
}

.btn-enviar {
    background-color: variables.$amarillo;
    border: 3px solid variables.$oscuro;
    padding: 15px 30px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 4px 4px 0px variables.$miel;
    &:hover { background-color: variables.$naranja; color: variables.$blanco; transform: translate(-2px, -2px); }
}

@media (max-width: 1024px) {
    .contacto-contenedor { gap: 20px; padding: 30px; }
}


@media (max-width: 768px) { 
    .contacto-contenedor {
        flex-direction: column;
        @include variables.caja-estilo-animal; 
        padding: 20px;
    }
    .contacto-info { border: none; padding: 10px; }
}