
.main-footer {
    background-color: $naranja;
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    color: $blanco;
    align-items: center;
    flex-shrink: 0;

    .logos { height: 40px; }
    
    ul {
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
}

.wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
}