@use "variables";

.main-footer {
    background-color: variables.$naranja;
    padding: 20px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    color: variables.$blanco;
    align-items: center;
    .logos { height: 40px; }
    ul { list-style: none; display: flex; gap: 20px; justify-content: center; }
}

@media (max-width: 1024px) {
    .main-footer { font-size: 0.9rem; }
}

@media (max-width: 480px) {
    .main-footer {
        grid-template-columns: 1fr;
        gap: 25px;
        text-align: center;
        ul { flex-direction: column; gap: 15px; }
    }
}