@use "variables";

.encabezado {
    background-color: variables.$naranja; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    top: 0;
    position: sticky;
    z-index: 1000;
    height: 100px;

    img {
        width: 100px;
        border-radius: 10px;
        transition: transform 0.3s ease;
        &:hover { transform: scale(1.1); }
    }

    h1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        color: variables.$blanco;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        margin: 0;
        li a {
            text-decoration: none;
            color: variables.$blanco;
            font-weight: 500;
            transition: color 0.3s ease;
            &:hover { color: #f4ece2; }
        }
    }
}

.navbar { margin-left: auto; }


@media (max-width: 1024px) {
    .encabezado {
        padding: 5px 20px;
        h1 { font-size: 1.6rem; }
    }
}


@media (max-width: 480px) {
    .encabezado {
        flex-direction: column;
        height: auto;
        padding: 15px;
        h1 { position: static; transform: none; margin: 10px 0; font-size: 1.3rem; }
        .navbar ul { gap: 10px; font-size: 0.9rem; }
    }
}