@use "variables" as v; 

.encabezado {
    position: sticky;
    top: 0;
    background-color: v.$color-fondo-naranja;
    padding: 10px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;

    img { height: 60px; }
    
    h1 {
        color: v.$color-header;
        font-size: 32px;
        text-align: center;
    }

    ul {
        display: flex;
        gap: 20px;
        list-style: none;
    }
}