@use "variables";

.nosotros-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.nosotros-hero h1 {
    color: variables.$naranja;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 50px;
}