@use "variables";

.nosotros-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
    text-align: center;
}

.nosotros-hero h1 {
    color: variables.$naranja;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro-text {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    margin-bottom: 50px;
}

@media (max-width: 1024px) {
    .nosotros-hero h1 { font-size: 2.2rem; }
    .intro-text { font-size: 1.1rem; }
}


@media (max-width: 480px) {
    .nosotros-hero h1 { font-size: 1.8rem; }
    .intro-text { font-size: 1rem; margin-bottom: 30px; }
}