.nosotros-seccion {
    padding: 60px 10%;
    background-color: $crema;

    .nosotros-contenido {
        @include caja-animal;
        padding: 40px;
        display: flex;
        align-items: center;
        gap: 40px;

        img {
            width: 40%;
            border-radius: 20px;
            border: 3px solid $oscuro;
        }

        .texto {
            flex: 1;
            h2 { color: $naranja; margin-bottom: 20px; }
            p { line-height: 1.6; }
        }
    }
}