@use "variables";

$naranja: #f6921e;
$amarillo: #ffcc00;
$oscuro: #2d2926;
$madera: #c67d39;
$crema: #F0EBE3;
$blanco: #ffffff;

@mixin caja-estilo-animal { 
    background: variables.$blanco;
    border: 4px solid variables.$oscuro;
    border-radius: 30px;
    box-shadow: 10px 10px 0px variables.$madera;
}