@use "variables";
@use "header";
@use "footer";
@use "inicio";
@use "nosotros";
@use "tienda";
@use "contacto";


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: variables.$crema;
    font-family: 'Montserrat', sans-serif;
}