@use "variables";
@use "footer";
@use "inicio";
@use "tienda";
@use "nosotros";
@use "contacto";
@use "header";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: variables.$color-main-beige;
}

a {
    text-decoration: none;
    color: variables.$color-link;
}

ul {
    list-style: none;
    padding: 0; 
    margin: 0;
}