@use "variables";
@use "header";
@use "footer";
@use "inicio";
@use "nosotros";
@use "tienda";
@use "contacto";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: variables.$crema;
}

a { text-decoration: none; color: variables.$cafe-texto; }
li, ul { list-style: none; padding: 0; margin: 0; }

.wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    z-index: 2000;
}