@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

/* EVITAR BORDES BLANCOS */
html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(57, 9, 110);
}

/* SACAR BULLETS */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* LINKS */
a {
    text-decoration: none;
    color: #3A2A1F;
}

/* HEADER */
.encabezado {
    position: sticky;
    top: 0;
    background-color: #F4A261;
    padding: 10px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
}

/* LOGO */
.encabezado img {
    height: 60px;
}

/* TITULO */
.encabezado h1 {
    color: #5A3A1E;
    font-size: 32px;
    text-align: center;
}

/* NAV */
.encabezado ul {
    display: flex;
    gap: 20px;
}

/* MAIN */
.main-home {
    min-height: calc(100vh - 160px);
    background-color: #F0EBE3;
    padding: 20px;
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #E76F51;
    padding: 20px;
    color: white;
    align-items: center;
}

/* ICONOS */
.logos {
    height: 40px;
}

/* WHATSAPP FLOAT */
.wa {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.cc{
    width: 120px;
}


.cc.wa{
    width: 65px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}


/* FOOTER UL */
footer ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* CELU */
@media (max-width: 768px) {

    .encabezado {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .encabezado ul {
        flex-direction: column;
        gap: 10px;
    }

    .encabezado h1 {
        font-size: 26px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 15px;
    }

    .main-home {
        min-height: auto;
    }
}


@media (max-width: 1024px) {
    .encabezado {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .encabezado ul {
        flex-direction: column;
        gap: 10px;
    }

    .encabezado h1 {
        font-size: 26px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 15px;
    }

    .main-home {
        min-height: auto;
    }
}