@use "variables";



.encabezado {
    background-color: variables.$naranja; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 5px solid variables.$oscuro; 
    position: sticky;
    top: 0;
    z-index: 1000;
}
    .logo img {
        height: 80px;
        transition: transform 0.3s ease;
        &:hover { transform: scale(1.1); }
    }

    h1 {
        color: variables.$blanco;
        text-shadow: 2px 2px 0px $madera;
    }

    nav ul {
        display: flex;
        list-style: none;
        gap: 20px;
        a {
            color: variables.$blanco;
            text-decoration: none;
            font-weight: bold;
            &:hover { color: variables.$amarillo; }
        }
    }
